/*Color Variable*/
$primaryColor: #4269EA;
$secondaryColor: #999999;
$defaultColor: #000000;
$sucessColor: #14A214;
$defaultLogoColor: #F7CE23;
$bggreyColor: #F1F3F6;
$primarytxtColor: #ffffff;
$darkGreyColor: #707070;

/*Layout variables*/
$constVal-0: 0;
$constVal-1: 1rem;
$constVal-2: 2rem;
$constVal-3: 3rem;
$constVal-4: 4rem;
$constVal-5: 5rem;
$pullLeft: left;
$pullRight: right;
$fivePixel: 5px;