@import "variables";

@mixin Gutters($padding-hor,$padding-ver){
    padding:$padding-hor $padding-ver;
}
@mixin eleSpace($margin-hor,$margin-ver) {
    margin: $margin-hor $margin-ver;
}
@mixin borderAll($color,$top,$right,$bottom,$left) {
    border:$color $top $right $bottom $left;
}
@mixin btnConfig($pad-ver,$pad-hor,$val){
    border-radius:$val;
    padding: $pad-ver $pad-hor;
    box-shadow: none;
    border:0;
    outline:0;
    font-size: 12px;
}
@mixin clearfix {
    display: block;
    clear: both;
    content: "";
}
*{
    box-sizing: border-box;
}
.clearfix::after,
.clearfix::before,.row::after{
    @include clearfix;
}
body {
    font-family: 'Verdana', sans-serif;
    color: $defaultColor;
    font-size: 14px;
    line-height: 1;
    margin:0;
}
.appheader__rtlblock{
    float: right;
    color:$primarytxtColor;
}
.container{
    width: 100%;
    @include Gutters($constVal-0, $constVal-1);
}
.row{
    @include eleSpace(  $constVal-0, -$constVal-1);
}
.col-left{
    width: 25%;
    float: $pullLeft;
    @include Gutters(0, 15px);
}
.col-right{
    float: $pullLeft;
    width:75%;
}
.border-rtl-hor{
    @include borderAll($darkGreyColor, 0, 1px, 0, 0 );
}
.text-center{
    text-align: center;
}
.pull-left{
    float: $pullLeft;
}
.pull-right{
    float: $pullRight;
}
.btn{
    @include btnConfig($constVal-1 / 2, $constVal-1 / 2, $constVal-1);
    background: $primaryColor;
    color: $primarytxtColor;
}
.btn:hover,
.btn:focus{
    cursor: pointer;
}
.btn--bgwarning{
    background:$defaultLogoColor;
    color:$defaultColor;
}
.hor-gutter{
    @include Gutters(15px,0);
}
.txt-white{
    color:#ffffff;
}
/*Overiding shadow css*/
.appheader{
    @include Gutters($constVal-1 / 2, $constVal-1);
}