@import "variables";

body {
    font-family: 'Verdana', sans-serif;
}

h1{
    color: $primaryColor;
}
//like using component tag we can define style for component level 
app-shopping-list {
    color : $primaryColor ;
}